---
import Header from "../components/Header.astro";
import HeadInfo from "../components/HeadInfo.astro";
import RecentRecipes from "../components/RecentRecipes.tsx";
import StarredRecipes from "../components/StarredRecipes.tsx";
---

<head>
  <HeadInfo title="Home" description="Welcome to recipes++" permalink="/" />
</head>

<body>
  <Header />
  <RecentRecipes client:load />
  <StarredRecipes client:load />
  <h2>Browse recipes</h2>
  <p class="browse-item">
    <span class="material-icons">list</span>
    <a href="/recipes">Recipes</a>
  </p>
  <p class="browse-item">
    <span class="material-icons">category</span>
    <a href="/categories">Categories</a>
  </p>
</body>

<style>
  .browse-item {
    display: flex;
    align-items: center;
  }
  .material-icons {
    margin-right: 0.25rem;
  }
</style>
