---
import Header from "../components/Header.astro";
import HeadInfo from "../components/HeadInfo.astro";
import RecentRecipes from "../components/RecentRecipes.tsx";
import StarredRecipes from "../components/StarredRecipes.tsx";
---

<head>
  <HeadInfo
    title="Welcome to recipes++"
    description="Recipes home"
    permalink="/"
  />
</head>

<body>
  <Header />
  <RecentRecipes client:load />
  <StarredRecipes client:load />
  <h2>Browse all recipes</h2>
  <p><a href="/recipes/">Browse</a></p>
</body>
