---
import Search from "./Search.tsx";
---

<header class="header">
  <a href="/" class="home-link">
    <img src="/icons/favicon-32x32.png" alt="Home" width="32" height="32" />
  </a>
  <Search client:visible />
</header>

<style>
  .header {
    display: flex;
    align-items: center;
  }
  @media print {
    .header {
      display: none;
    }
  }
  .home-link {
    margin-block-start: 7px;
    margin-inline-end: 1rem;
  }
</style>
