---
import Categories from "./Categories.astro";
const includeCategories = !!Astro.props["includeCategories"];
const { recipes } = Astro.props;
---

<ol>
  {recipes.map(({ frontmatter, url }) => (
    <li>
      <a href={url}>{frontmatter.title}</a>
      {includeCategories ? <Categories categories={frontmatter.tags} /> : " "}
    </li>
  ))}
</ol>
